body{
    background-image: url("../images/wormz.png");
}
section{
    width: 400px;
    border: 1px;
    background-color: orange;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    padding: 20px;
    margin-top: 20px;
    margin-left: 20px;
}
p{
    font-family: 'Times New Roman', Times, serif;
    color: green;
    font-size: 20px;
}
.rules{
    width: 550px;
    height: 400px;
    background-color: peachpuff;
    border: 1px;
    padding: 15px;
    margin-left: 20px;
}
#random-number{
    border: 1px;
    padding: 20px;
    margin-left: 20px;
    background-color: #24D07D;
    width: 200px;
    height: 130px;
    font-size: 36px;
    font-family: 'Times New Roman', Times, serif;
}
.win-loss{
    border: 1px;
    padding: 10px;
    background-color: #5EF6F8;
    position: relative;
    margin-left: 280px;
    margin-top: -170px;
    width: 100px;
    height: 130px;

}
img{
    height: 100px;
    width: 100px;
    background-color: white;
    padding: 5px;
}
#total-head{
    border: 1-px;
    margin-top: 20px;
    margin-left: 20px;
    background-color: teal;
    width: 330px;
    height: 50px;
    padding: 10px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}
#total-body{
    background-color: teal;
    width: 330px;
    height: 200px;
    border: 1px;
    padding: 10px;
    margin-left:20px;
    color: white;
    font-size: 36px;
    font-family: 'Times New Roman', Times, serif;
}